.main {
  width: 15rem;
  height: 15rem;
  border: 1px solid var(--green-500);
  /* border: 0; */
  border-radius: 50%;
  overflow: hidden;
  background: var(--green-500);

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-app-region: drag;

  position: relative;
}

.buttonContainer {
  border: 0;
  background: transparent;

  /* padding: 16px; */

  transition: 0.1s;

  position: absolute;

  display: flex;
  flex-direction: column;
}

.button {
  border: 0;
  background: transparent;

  padding: 4px;

  transition: 0.1s;

  /* position: absolute; */
}

.button-start {
  color: var(--white);
}
.button-start:hover {
  color: var(--gray-300);
}

.button-close-reset {
  color: transparent;
}
.button-close-reset:hover {
  color: var(--gray-300);
  /* margin: 8px; */
}
